@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Yantramanav:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
  font-family: 'Bauhaus 93';
  src: url('/fonts/font_contato/bauhaus-93.ttf') format('truetype');
}


.image-banner{
  width: 100%; 
  height: auto; 
  display: block;
}

.texto-banner{
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-family: 'Bauhaus 93', sans-serif; font-size: 50px
}

.campo-espacamento{
    padding: 20px;
}

.botao-format{
  height:50px ;
  width: 70px ;
}

main {
  background-color: #ffe6d1;
  font-weight: bold;

}

/*FAZER AS LETRAS DO CONTATO APARECEREM QUANDO A TELA DIMINUIR  */

@media all and (min-width: 768px) and (max-width: 2000px){
  .texto-contato{
    color: transparent;
  }
}

/* Estilos para telas menores que 768 pixels */
@media (max-width: 480px) {
  .imagem-de-fundo {
    content: url('/imgs/logo-178x47.png');
    
  }
}

/* Estilos para telas maiores que 1200 pixels */
@media (min-width: 2000px) {
  .imagem-de-fundo {
    content: url('/imgs/logo-370x97.png');
   
  }
}


.fonte-zero{ /*Style para identificação dos elementos da página.*/
  font-size: 0px;
  padding: 0px;
  opacity: 0;
  float: none;
  border: 0px;
  display: none;
}

.fonte-Yantramanav{
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.texto-logo{ /*estilizar o slogan da logo. ||COM HOME||*/
	font-family:'Pacifico', 'cursive','Arial';
}

@media all and (min-width: 320px) and (max-width: 360px){
  .texto-logo {
    display: flex;
    align-items: center; /* Alinhamento Vertical */
    justify-content: center;
    font-size: 15px; 
  }
  }

@media all and (min-width: 360px) and (max-width: 375px){
  .texto-logo {
    display: flex;
    align-items: center; /* Alinhamento Vertical */
    justify-content: center; /* Alinhamento Horizontal */
    font-size: 16px; 
  }
  }

  @media all and (min-width: 375px) and (max-width: 460px){
    .texto-logo {
      display: flex;
      align-items: center; /* Alinhamento Vertical */
      justify-content: center; /* Alinhamento Horizontal */
      font-size: 16px; 
    }
    }

 @media all and (min-width: 460px) and (max-width: 480px){
      .texto-logo {
        display: flex;
        align-items: center; /* Alinhamento Vertical */
        justify-content: center; /* Alinhamento Horizontal */
        font-size: 19px; 
      }
      }

 
 @media all and (min-width: 480px) and (max-width: 2000px){
      .texto-logo {
       display: flex;
       align-items: center; /* Alinhamento Vertical */
       justify-content: center; /* Alinhamento Horizontal */
       font-size: 26px; 
      }
      }

.bottom-home{ /*Estilo do botão home.||COM HOME||*/
  font-family:'Yantramanav', 'Arial Narrow','Arial'; 
  font-size: 28px;
}

.c-cont-header{ /*color e borders do elemento pai (container-fluid) do header. ||COM HOME||*/
  background-color: #ffe6d1;
}

.c-cont-nav{ /*color e borders do elemento pai (container-fluid) do links nav. ||COM HOME||*/
  background-color: #df318e;
  border: 1px solid #212529;
}

.btn-custom { /* Estilo personalizado para o botão de BUSCAR ||COM HOME||*/
  color: #ffffff;
  background-color: #2125293c;
  border-color: #212529;
  font-weight: 500;
  transition: transform 0.6s ease, opacity 0.100s ease;
}

.btn-custom:hover {  /*Estilo para hover no botão de BUSCAR ||COM HOME||*/
  background-color: #212529;
  color: #fcf5ed; 
  transform: translateX(2px);
  opacity: 0.5s;
}

.btn-main{ /*Estilo dos botões de produtos ||COM HOME||*/
  border: 1px solid #080606;
  color: #212529;
  background-color: #ffe6d1;
  font-family:'Yantramanav', 'Arial Narrow','Arial'; 
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.6s ease, opacity 0.100s ease;
  border-radius: 10px;
}

.btn-main:hover{ /*Estilo dos botões de produtos quando hover ||COM HOME||*/
  transition: transform 0.6s ease, opacity 0.100s ease;
  color: #120e0e;
  transform: translateY(5px);
  opacity: 0.5s;
  border-radius: 8px;
}


.links-drop{ /*estilo dos links-drop dos produtos ||COM HOME||*/
 display: flex;
 justify-content: start;
 padding-left: 15px ;
 transition: transform 0.6s ease, opacity 0.100s ease;
}

.links-drop:hover{ /*estilo dos links-drop dos produtos quando hover ||COM HOME||*/
  text-decoration: none;
  background-color: #21252907;
  transform: translateY(-2px);
}


.color-links{ /*estilos do links do nav ||COM HOME||*/
  color: #ffffff;
  transition: transform 0.6s ease, opacity 0.100s ease;
  font-weight: 500;
}

.color-links:hover{ /*estilos do links do nav quando hover ||COM HOME||*/
  color: #fcf5ed;
  transform: translateY(2px);
  opacity: 0.5s;
}

.style-footer{ /*estilos dos container do footer ||COM HOME||*/
 background-color: #df318e;
 color: #ffe6d1;
}

.links-footer,a{ /*estilos dos links do footer ||COM HOME||*/
  align-items: center;
  justify-content: center;
  color: #212529; 
  transition: transform 0.6s ease, opacity 0.100s ease;
}

.links-footer:hover{ /*estilos dos links do footer quando hover ||COM HOME||*/
  color: #ffe6d1;
  transform: translateY(3px);
}


.link-rede{
  font-family: 'Yantramanav', 'Arial Narrow','Arial';
  align-items: center;
  justify-content: center;
  color: #212529; 
  font-weight: 500;
  transition: transform 0.6s ease, opacity 0.100s ease;
}

.link-rede:hover{
  color: #ffffff;
  transform: translateY(3px);
}

.text-footer{
  font-family: 'Yantramanav', 'Arial Narrow','Arial';
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.font-redes{
  font-family: 'Yantramanav', 'Arial Narrow','Arial';
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 320px) and (max-width: 360px){
  .font-redes{
    font-family: 'Yantramanav', 'Arial Narrow','Arial';
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 10.3px;
  }
}

@media all and (min-width: 360px) and (max-width: 570px){
  .font-redes{
    font-family: 'Yantramanav', 'Arial Narrow','Arial';
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
}

@media all and (min-width: 570px) and (max-width: 2000px){
  .font-redes{
    font-family: 'Yantramanav', 'Arial Narrow','Arial';
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}



@media all and (min-width: 320px) and (max-width: 360px ){
    #link-font{
      font-size: 16px;
    }
  }

@media all and (min-width: 360px) and (max-width: 490px){
   #link-font{
    font-size: 14.2px;
   }
}


@media all and (min-width: 320px) and (max-width: 500px){ /*Modificando o tamanho do link HOME em diferentes telas.*/
  #modifyHome {
    font-size: 21px; 
  }
  }
 


